<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/d4408de37a.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  </script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <%- include('header'); -%>

  <div class="container mt-5 p-3 bg-dark">
    <div class="card mb-3" style="width: 100%; min-width: 540px;">
      <div class="row g-0">

        <% for (let i = 0; i < kitaplarListe.length; i++) { %>
        <div class="col-md-4">
          <a href="/kitap/<%=kitaplarListe[i].kitapIsmi%>/<%= kitaplarListe[i].index %>"><img
              src="<%= kitaplarListe[i].img %>" alt="..."></a>
        </div>

        <% } %>


      </div>
    </div>
  </div>



  <%- include('footer'); -%>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>