<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://kit.fontawesome.com/d4408de37a.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>

    <%- include('header'); -%>


    <div class="container mt-5 p-3 bg-dark">
        <div class="card mb-3" style="width: 100%; min-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src=" <%= img %> " alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title"> <%= kitapIsmi %> </h1>
                        <p class="card-text"><small class="text-muted"> <%= yazar %> </small></p>
                        <p class="card-text"><small class="text-muted"> <%= yayinevi %> </small></p>
                        <p class="card-text"> <%= aciklama %> </p>
                        <p class="card-text">Yayin Tarihi: <small class="text-muted"><%= yayinTarihi %> </small></p>
                        <p class="card-text">Baski Sayisi: <small class="text-muted"> <%= baskiSayisi %> </small></p>
                        <p class="card-text">Dil: <small class="text-muted"> <%= dil %> </small></p>
                        <p class="card-text">Sayfa Sayisi:<small class="text-muted"> <%= sayfaSayisi %> </small></p>
                        <p class="card-text">Cilt Tipi: <small class="text-muted"> <%= ciltTipi %> </small></p>
                        <p class="card-text">Fiyat: <%= fiyat %> </p>
                        <a href=" <%= anaSayfa %>  "> Return Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('footer'); -%>


    <script src="js/main.js"></script>
</body>

</html>